In [1]:
import numpy as np
import pandas as pd

In [2]:
X_train = pd.read_csv('train_values.csv')

In [14]:
X_train.select_dtypes(include = ['int64','float64']).drop(['id','num_private'],axis = 1)

,amount_tsh,gps_height,longitude,latitude,region_code,district_code,population,construction_year
0,6000.0,1390,34.938093,-9.856322e+00,11,5,109,1999
1,0.0,1399,34.698766,-2.147466e+00,20,2,280,2010
2,25.0,686,37.460664,-3.821329e+00,21,4,250,2009
3,0.0,263,38.486161,-1.115530e+01,90,63,58,1986
4,0.0,0,31.130847,-1.825359e+00,18,1,0,0
5,20.0,0,39.172796,-4.765587e+00,4,8,1,2009
6,0.0,0,33.362410,-3.766365e+00,17,3,0,0
7,0.0,0,32.620617,-4.226198e+00,17,3,0,0
8,0.0,0,32.711100,-5.146712e+00,14,6,0,0
9,0.0,0,30.626991,-1.257051e+00,18,1,0,0
10,0.0,62,39.209518,-7.034139e+00,60,43,345,2011
11,200.0,1062,35.770258,-1.057417e+01,10,5,250,1987
12,0.0,0,33.798106,-3.290194e+00,17,2,0,0
13,0.0,1368,37.092574,-3.181783e+00,3,7,1,2009
14,0.0,0,34.364073,-3.629333e+00,17,6,0,0
15,0.0,1645,31.444121,-8.274962e+00,15,2,200,1991
16,500.0,1703,34.642439,-9.106185e+00,11,4,35,1978
17,0.0,1656,34.569266,-9.085515e+00,11,4,50,1978
18,0.0,1162,32.920154,-1.947868e+00,19,1,1000,1999
19,500.0,1763,34.508967,-9.894412e+00,11,5,1,1992
20,200.0,2216,34.473430,-9.594990e+00,11,4,4,2008
21,0.0,0,0.000000,-2.000000e-08,17,1,0,0
22,0.0,1510,34.586901,-8.980014e+00,11,4,350,1978
23,500.0,672,37.940029,-4.125595e+00,3,3,210,2011
24,0.0,1645,29.747066,-4.495568e+00,16,3,156,2009
25,0.0,1273,37.422751,-3.317536e+00,3,4,140,1974
26,500.0,200,39.370777,-9.942532e+00,80,23,260,2011
27,0.0,0,31.104257,-1.735361e+00,18,1,0,0
28,0.0,1443,37.611126,-3.263526e+00,3,1,1,2000
29,0.0,1256,37.061688,-3.191989e+00,3,7,1,2002
...,...,...,...,...,...,...,...,...
59370,200.0,1154,30.058731,-4.902633e+00,16,2,1,0
59371,0.0,0,33.586406,-3.040369e+00,17,2,0,0
59372,0.0,0,32.058548,-5.052101e+00,14,4,0,0
59373,5000.0,1137,32.125024,-6.784358e+00,15,1,96,1988
59374,0.0,0,0.000000,-2.000000e-08,17,1,0,0
59375,40000.0,54,39.046942,-5.061494e+00,4,4,609,2005
59376,0.0,1581,34.821039,-5.076258e+00,13,2,1,1990
59377,0.0,0,33.437012,-4.423594e+00,14,2,0,0
59378,500.0,2101,34.620387,-9.358405e+00,11,4,36,2008
59379,0.0,0,31.613284,-1.820226e+00,18,3,0,0
59380,6000.0,1439,34.942101,-9.849198e+00,11,5,50,1999
59381,0.0,0,38.835001,-4.880204e+00,4,8,360,1992
59382,6.0,1383,37.454759,-3.323599e+00,3,4,1,2008
59383,0.0,11,39.626009,-1.005750e+01,80,62,800,2008
59384,0.0,0,30.667805,-2.483710e+00,18,30,0,0
59385,500.0,1327,33.951681,-2.021854e+00,20,4,200,2011
59386,0.0,1786,31.738789,-8.532013e+00,15,2,1000,2009
59387,100.0,25,39.176480,-6.957098e+00,7,2,100,2000
59388,0.0,1414,30.692400,-3.593827e+00,16,1,500,1995
59389,0.0,783,30.646486,-7.365418e+00,15,3,1500,2009
59390,0.0,1715,31.370848,-8.258160e+00,15,2,150,1991
59391,0.0,540,38.044070,-4.272218e+00,3,3,210,1967
59392,0.0,0,33.009440,-8.520888e+00,12,1,0,0
59393,0.0,0,33.866852,-4.287410e+00,14,2,0,0
59394,500.0,351,37.634053,-6.124830e+00,5,6,89,2007
59395,10.0,1210,37.169807,-3.253847e+00,3,5,125,1999
59396,4700.0,1212,35.249991,-9.070629e+00,11,4,56,1996
59397,0.0,0,34.017087,-8.750434e+00,12,7,0,0
59398,0.0,0,35.861315,-6.378573e+00,1,4,0,0
59399,0.0,191,38.104048,-6.747464e+00,5,2,150,2002

In [22]:
list(X.select_dtypes(include = ['object']).drop('date_recorded',axis = 1).columns.values)

['funder',
 'installer',
 'wpt_name',
 'basin',
 'subvillage',
 'region',
 'lga',
 'ward',
 'public_meeting',
 'recorded_by',
 'scheme_management',
 'scheme_name',
 'permit',
 'extraction_type',
 'extraction_type_group',
 'extraction_type_class',
 'management',
 'management_group',
 'payment',
 'payment_type',
 'water_quality',
 'quality_group',
 'quantity',
 'quantity_group',
 'source',
 'source_type',
 'source_class',
 'waterpoint_type',
 'waterpoint_type_group']

In [20]:
[X_train]

[Index([u'id', u'amount_tsh', u'date_recorded', u'funder', u'gps_height',
        u'installer', u'longitude', u'latitude', u'wpt_name', u'num_private',
        u'basin', u'subvillage', u'region', u'region_code', u'district_code',
        u'lga', u'ward', u'population', u'public_meeting', u'recorded_by',
        u'scheme_management', u'scheme_name', u'permit', u'construction_year',
        u'extraction_type', u'extraction_type_group', u'extraction_type_class',
        u'management', u'management_group', u'payment', u'payment_type',
        u'water_quality', u'quality_group', u'quantity', u'quantity_group',
        u'source', u'source_type', u'source_class', u'waterpoint_type',
        u'waterpoint_type_group'],
       dtype='object')]

In [40]:
test = pd.DataFrame({'ETC':X_train.extraction_type_class})
test.head(10)

           ETC
0      gravity
1      gravity
2      gravity
3  submersible
4      gravity
5  submersible
6     handpump
7     handpump
8     handpump
9     handpump

In [5]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder

In [42]:
lbl_enc = LabelEncoder()
lbl_enc.fit(test['ETC'])
test_tr = lbl_enc.transform(test['ETC'])
test_tr[0:10]

array([0, 0, 0, 5, 0, 5, 1, 1, 1, 1], dtype=int64)

In [43]:
test['lbl_enc'] = test_tr

In [44]:
ohe = OneHotEncoder()
ohe.fit(test.lbl_enc.reshape(-1,1))
test_ohe = ohe.transform(test.lbl_enc.reshape(-1,1))
test_ohe[0:10].toarray()

array([[ 1.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 1.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 1.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  1.,  0.],
       [ 1.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  1.,  0.],
       [ 0.,  1.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  1.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  1.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  1.,  0.,  0.,  0.,  0.,  0.]])

In [46]:
test = pd.DataFrame({'ETC':X_train.extraction_type_class,'Region':X_train.region})
test.head(10)

           ETC     Region
0      gravity     Iringa
1      gravity       Mara
2      gravity    Manyara
3  submersible     Mtwara
4      gravity     Kagera
5  submersible      Tanga
6     handpump  Shinyanga
7     handpump  Shinyanga
8     handpump     Tabora
9     handpump     Kagera

In [50]:
# pd.get_dummies(test)

In [51]:
categorical_features = ['public_meeting','extraction_type_class','payment','quality_group','quantity_group','source','waterpoint_type']
X_cat = X_train[categorical_features]

In [52]:
X_cat_ohe = pd.get_dummies(X_cat)

In [54]:
X_cat_ohe.shape

(59400, 44)

In [56]:
X_train_final = pd.DataFrame.join?

In [ ]:
X_train_final = pd.DataFrame.join

In [57]:
X_train_final = X_cat_ohe.join(X_train.construction_year)