In [1]:
import pandas as pd
import numpy as np

In [44]:
a0 = pd.read_csv('rep_XGB.csv')
a1 = pd.read_csv('rep_XGB1.csv')
a2 = pd.read_csv('rep_XGB123.csv')
a3 = pd.read_csv('rep_XGB12345.csv')
a4 = pd.read_csv('rep_XGB420.csv')

In [48]:
agg = pd.DataFrame({'a0':a0.status_group,'a1':a1.status_group,'a2':a2.status_group,'a3':a3.status_group,'a4':a4.status_group})

In [49]:
agg.head()

,a0,a1,a2,a3,a4
0,non functional,functional,functional,functional,functional
1,functional,functional needs repair,functional,functional,functional
2,functional,functional,functional,functional,functional
3,non functional,non functional,non functional,non functional,non functional
4,functional,functional,functional,functional,functional

In [60]:
majority_vote = agg.mode(axis=1)[0]

In [65]:
report = pd.DataFrame({'id':a0.id,'status_group':majority_vote})
report.to_csv('rep_majority.csv', index = False)

In [64]:
report.head()

      id    status_group
0  50785      functional
1  51630      functional
2  17168      functional
3  45559  non functional
4  49871      functional

In [71]:
a=np.array([[1,1,1],[1,1,1]])
a.shape

(2, 3)

In [72]:
r,c=a.shape

In [73]:
r

2

In [74]:
c

3